version: "3"

services:
  batcher:
    environment:
      - "TRACING=1"
      - "CYPHERNODE_URL=https://gatekeeper:${GATEKEEPER_PORT}"
    image: cyphernode/batcher:v0.2.0-rc.2
    entrypoint: [ "npm", "run", "start:dev" ]
    volumes:
      - "$APP_SCRIPT_PATH/data:/batcher/data"
      - "$GATEKEEPER_DATAPATH/certs/cert.pem:/batcher/cert.pem:ro"
      - "$LOGS_DATAPATH:/batcher/logs"
    networks:
      - cyphernodeappsnet
    restart: always
    labels:
      - "traefik.docker.network=cyphernodeappsnet"
      - "traefik.frontend.rule=PathPrefixStrip:/batcher"
      - "traefik.frontend.passHostHeader=true"
      - "traefik.enable=true"
      - "traefik.port=8000"
      - "traefik.frontend.auth.basic.users=<username>:$$2y$$05$$LFKGjKBkmWbI5RUFBqwonOWEcen4Yu.mU139fvD3flWcP8gUqLLaC"
networks:
  cyphernodeappsnet:
    external: true
